// Colors
$color-primary: #87ceeb;
$color-primary-dark: #45b3e0;
$color-primary-light: #b3e0f2;

$color-grey: #a0a0a0;
$color-grey-dark: #676767;
$color-grey-light: #cdcdcd;

$color-pearl: #eae0c8;
$color-pearl-dark: #d2bd89;

$color-black: #111111;

// Border
$border-radius: 5px;
$border-radius-big: 10px;

// Box-shadow
$box-shadow: 0 0 1rem black;

// width
$w-form: 50rem;

// gap
$gap-cards: 5rem