.card {
    background-image: linear-gradient(to bottom, $color-pearl-dark, $color-pearl);
    border-radius: $border-radius;
    width: 22.5rem;
    padding: 2rem 4rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .5s;
    display: flex;
    overflow: hidden;
    white-space: nowrap;

    &--big {
        width: $w-form;
    }

    &--big > &__right {
        width: 20rem;
        opacity: 1;
        visibility: visible;
    }

    &__left {
        width: 20rem;

        & > *:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__heading {
        color: white;
        font-weight: bold;
        font-size: 2rem;
        letter-spacing: 5px;
    }

    &__city,
    &__temp {
        color: $color-grey-dark;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    &__description {
        color: $color-primary-dark;
    }
    font-size: 1.2rem;

    &__btn {
        cursor: pointer;
        background-color: $color-primary;
        color: white;
        font-size: 1.2rem;
        letter-spacing: 3px;
        outline: none;
        border: none;
        border-radius: $border-radius-big;
        padding: 0.5rem 3rem;
        position: relative;
        backface-visibility: hidden;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: $border-radius-big;
            background-color: $color-primary;
            z-index: -1;
            transition: all 0.4s;
        }

        &:hover {
            transform: translateY(-3px);

            &::after {
                opacity: 0;
                transform: scale(1.5);
            }
        }

        &--close {
            background-color: red;

            &::after {
                background-color: red;
            }
        }
    }

    &__right {
        margin-left: auto;
        width: 0;
        overflow: hidden;
        transition: all .5s;
        opacity: 0;
        visibility: hidden;
    }

    &__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & > * {
            letter-spacing: 2px;
            font-size: 1.5rem;
            color: $color-grey-dark;
            padding-bottom: 1rem;
            border-bottom: 2px solid $color-grey;
            
        }
    }
}
